body {
    background-image: url("https://i.ytimg.com/vi/3hGK4MJrKys/maxresdefault.jpg");
    font-family: Arial, Helvetica, sans-serif;
    }

.container {
    text-align: center;
}


.btn-sm {
    margin-left: 650px;
    font-size: 30px;
}

.btn-lg {
    margin-left: 350px;
    margin-bottom: 30px;
}

#question {
    color: white;
    margin-bottom: 50px;
    font-size: 30px;
    margin-left: 100px;
}

#message {
    color: white;
    font-size: 50px;
    margin-left: 400px;
    margin-top: 100px;
}

#score {
    color: white;
    font-size: 50px;
    margin-left: 500px;
    margin-top: 50px;
}

#reset {
    margin-top: 40px;
}

#timer {
    margin-left: 700px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}