body {
    background-image: url("https://i.ytimg.com/vi/3hGK4MJrKys/maxresdefault.jpg");
    }

.btn-sm {
    margin-left: 650px;
    font-size: 30px;
}

.btn-lg {
    margin-left: 350px;
    margin-bottom: 30px;
}

#question {
    color: white;
    margin-bottom: 50px;
    font-size: 30px;
    margin-left: 100px;
}